<div class="justify-between" *ngIf="pokemon">
    
        <div class="p-5">
            <div class="max-w-sm bg-white rounded-lg border border-gray-200 shadow-md">
                <img class="align-center" [src]="pokemon.sprites.front_default" alt="" />
    
                <div class="p-5">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
                        {{ pokemon.name }}
                    </h5>
                    <button type="button" *ngFor="let type of pokemon?.types"
                        class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
                        {{ type.type.name }}
                    </button>
                    <p class="mb-3 font-normal text-gray-700">
                        Height: {{ pokemon.height }}
                    </p>
                    <p class="mb-3 font-normal text-gray-700">
                        Weight: {{ pokemon.weight }}
                    </p>
                    <button type="button" (click)="addPokemon()"
                        class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
                        add
                        <svg aria-hidden="true" class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <app-radar-chart [stats]="pokemon.stats"></app-radar-chart>
</div>
